core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
*.pyc
__pycache__
STRIPE_PUBLIC_KEY=pk_test_51NIuDLCHimmDlHcqrwQFvPnRuLSEt0UJ9pO23vOWJNvPmJ651HKVJR0gUWbDJDRO3pMddktZF5xP3IlZ2Wd2ZB9v00SmHtFVQl
STRIPE_SECRET_KEY=sk_test_51NIuDLCHimmDlHcqxg5LEXRgPD2MgAKdhrzo61YW8mLGUJ8UqCbqiXfjXDtal5DcgLKyg6Kt3tT5yZcBVLYKRILJ00CcLYqjCk